@page "/about"

@code {
}

<article>
    <h3>About me</h3>
    <p>Here is an image with no transformation</p>
    <img src="https://assets.pcna.com/Content/PrdCat/Apparel/1902_HB_Apparel" class="img-fluid" />
    <p>Now here is the same image with some transformations</p>
    <img src="https://assets.pcna.com/f_auto,q_auto/Content/PrdCat/Apparel/1902_HB_Apparel" class="img-fluid" />
    <p>Here I add the t banner transformation</p>
    <img src="https://assets.pcna.com/t_banner,f_auto,q_auto/Content/PrdCat/Apparel/1902_HB_Apparel" class="img-fluid" />
    <p>and now I substiture t_banner with t_mbanner</p>
    <img src="https://assets.pcna.com/t_mbanner,f_auto,q_auto/Content/PrdCat/Apparel/1902_HB_Apparel" class="img-fluid" />
    <p>
        Kushal works in web development.
    </p>
</article>

<article>
    <h3>About this website</h3>
    <p>
        This website runs on Azure App Service free tier. 
        The source code for this website is available on <a href="https://github.com/9034725985/kushalhada.azurewebsites.com" target="_blank">Github</a>.
    </p>
</article>

<aside>
    This page was rendered on @DateTime.UtcNow UTC.
</aside>