@page "/about"

@code {
    private DateTime currentTime = DateTime.UtcNow;
}

<article>
    <h3>About me</h3>
    <p>
        Kushal works in web development.
    </p>
</article>

<article>
    <h3>About this website</h3>
    <p>
        This website runs on Azure App Service free tier. 
        The source code for this website is available on <a href="https://github.com/9034725985/kushalhada.azurewebsites.com" target="_blank">Github</a>.
    </p>
</article>

<aside>
    This page was rendered on @DateTime.UtcNow UTC.
</aside>